section#go {
  a: c;
}
section#go div {
  a: c;
}
section#go div h2 {
  a: c;
}
section#go div ul {
  a: c;
}
section#go div ul li {
  a: c;
}
section#go div ul li a {
  a: c;
}
section#go div ul li a h3 {
  a: c;
}
section#go div ul li a p {
  a: c;
}