header {
  padding: 0 40px;
}
header div.wrap {
  max-width: initial;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
}
header div.wrap h1 {
  
}
header div.wrap h1 a {
  
}
header div.wrap ul {
  
}
header div.wrap ul li {
  
}
header div.wrap ul li a {
  padding: 0 20px;
  line-height: 2.5;
  font-weight: 700;
}
header div.wrap span {
}
header div.wrap span a {
  padding: 20px 40px;
}
header div.wrap span button {  
  background-color: black;
  color: #fff;
  height: 36px;
  align-self: center;
  border-radius: 10px;
  padding: 0 13px;
  font-weight: 700; 
}
header div.wrap span button:hover{
  background-color: #484848;
}