div#title {
  background-color: #ffa15d;
  background-image: url(../img/vanner.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  border-radius: 30px;
  width: calc(100% - 80px);
  margin: 0 auto;
}
div#title div.wrap {  
  max-width: 1120px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 40px;
  line-height: 1.5;
}
div#title div.wrap h2 {
  
}
div#title div.wrap p {
  
}
div#title div.wrap a {  
  background-color: #fff;
  width: 210px;
  height: 66px;
  border-radius: 10px;
  text-align: center;
  line-height: 66px;
  transition: 0.3s;
}
div#title div.wrap a:hover{
  background-color: rgba(100%,100%,100%,0.7);
}
div#title div.wrap a::after{
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 2px solid;
  border-left: transparent;
  border-bottom: transparent;
  transform: translateY(-3px) rotate(45deg);
  margin-left: 5px;
}
/* 메인영역 */
main{
  padding: 0 40px;
}
/* 제품영역 */
section#product {
  
}
section#product div.wrap {
  max-width: initial; /*너비값 1440px 해제*/
}
section#product div.wrap h2 {
  
}
section#product div.wrap ul {
  justify-content: space-between;
  gap: 20px;
}
section#product div.wrap ul li {
  width: calc(100% / 8);
}
section#product div.wrap ul li a {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 7px 10px #eee, 0.5px 1px 3px #ccc;
  height: 100px;
  align-content: center;
  padding: 0 20px;
  transition: 0.3s;
}
section#product div.wrap ul li:hover a{
  transform: translateY(-10px);
}
section#product div.wrap ul li a figure {
  gap: 10px;
}
section#product div.wrap ul li a figure img {
  width: 44px;
  height: 44px;
  transform: translateY(10px);
}
section#product div.wrap ul li a figure figcaption {  
  line-height: 1.5;
}
section#product div.wrap ul li a figure figcaption h3 {
  
}
section#product div.wrap ul li a figure figcaption h3::after{
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-left: transparent;
  border-bottom: transparent;
  transform: translateY(-1.5px) rotate(45deg);
  margin-left: 5px;
}
section#product div.wrap ul li a figure figcaption p {  
  color: rgba(26,26,26,.5);
  padding-top: 4px;
}
/* 서비스영역 */
section#service {

}
section#service div.wrap {
  max-width: initial;
  height: 600px;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(../img/background1.webp);
  border-radius: 40px;
  line-height: 1.4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section#service div.wrap h2 {
  
}
section#service div.wrap p {  
  line-height: 1.5;
}
section#service div.wrap a {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 25px 30px;
  font-size: 18px;
  font-weight: 700;
}
section#service div.wrap a:after{
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 3.5px solid #fff;
  transform: translateY(-1px) translateX(5px) rotate(45deg);
  border-left: transparent;
  border-bottom: transparent;
  margin-left: 5px; 
}
section#service div.wrap a:hover{
  background-color: #484848;
}
/* 라이선스영역 */
section#licence {

}
section#licence div.wrap {  
  max-width: initial;
  height: 600px;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(../img/background2.webp);
  border-radius: 40px;
  line-height: 1.4px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section#licence div.wrap h2 {
  
}
section#licence div.wrap p {  
  line-height: 1.5;
}
section#licence div.wrap a {  
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 25px 30px;
  font-size: 18px;
  font-weight: 700;
}
section#licence div.wrap a:after{
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid;
  display: inline-block;
  transform: translateX(5px) translateY(-2px) rotate(45deg);
  border-left: transparent;
  border-bottom: transparent;
}
section#licence div.wrap a:hover{
  background-color: hsla(0,0%,100%,.85);
}
/* 알툴즈 상품소개 */
section#altools {
  
}
section#altools div.wrap {
  max-width: 1120px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
section#altools div.wrap h2 {
  
}
section#altools div.wrap ul {
  flex-wrap: wrap;
  gap: 20px;
}
section#altools div.wrap ul li {  
  box-shadow: 0 0 2px rgba(0,0,0,.08),4px 12px 36px rgba(0,0,0,.09);
  width: calc((100% - 60px)/ 4);
  border-radius: 15px;
  height: 340px;
  overflow: hidden;
  transition: 0.3s;
}
section#altools div.wrap ul li:hover{
  transform: translateY(-10px);
}
section#altools div.wrap ul li a {  
  padding: 0 20px 24px 20px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#altools div.wrap ul li a::before{
  content: "";
  display: block;
  height: 100px;
  background-size: cover;
  margin-left: -20px;
  margin-right: -20px;
}
section#altools div.wrap ul li:nth-child(1) a::before{
  background-image: url(../img/altools1.jpg);
}
section#altools div.wrap ul li:nth-child(2) a::before{
  background-image: url(../img/altools2.jpg);
}
section#altools div.wrap ul li:nth-child(3) a::before{
  background-image: url(../img/altools3.jpg);
}
section#altools div.wrap ul li:nth-child(4) a::before{
  background-image: url(../img/altools4.jpg);
}
section#altools div.wrap ul li:nth-child(5) a::before{
  background-image: url(../img/altools5.jpg);
}
section#altools div.wrap ul li:nth-child(6) a::before{
  background-image: url(../img/altools6.jpg);
}
section#altools div.wrap ul li:nth-child(7) a::before{
  background-image: url(../img/altools7.jpg);
}
section#altools div.wrap ul li:nth-child(8) a::before{
  background-image: url(../img/altools8.jpg);
}
section#altools div.wrap ul li a h3 {  

}
section#altools div.wrap ul li:not(:first-child) a h3::before{
  content: "";
  display: inline-block;
  width: 44px;
  height: 44px;
  background-image: url(../img/icon2.webp);
  background-size: contain;
  background-position: center;
  vertical-align: -13px;
  margin-right: 10px;
}
section#altools div.wrap ul li:nth-child(2) a h3::before{
  background-image: url(../img/icon2.webp);
}
section#altools div.wrap ul li:nth-child(3) a h3::before{
  background-image: url(../img/icon3.webp);
}
section#altools div.wrap ul li:nth-child(4) a h3::before{
  background-image: url(../img/icon4.webp);
}
section#altools div.wrap ul li:nth-child(5) a h3::before{
  background-image: url(../img/icon5.webp);
}
section#altools div.wrap ul li:nth-child(6) a h3::before{
  background-image: url(../img/icon6.webp);
}
section#altools div.wrap ul li:nth-child(7) a h3::before{
  background-image: url(../img/icon7.webp);
}
section#altools div.wrap ul li:nth-child(8) a h3::before{
  background-image: url(../img/icon8.webp);
}
section#altools div.wrap ul li a p {  
  line-height: 1.4;
  letter-spacing: -1px;
  height: 60px;
}
section#altools div.wrap ul li a >span {
  align-self: end;
  color: #08f;
}
section#altools div.wrap ul li a >span::after{
  content: "";
  border: 1px solid #08f;
  display: inline-block;
  width: 5px;
  height: 5px;
  transform: translateY(-1px) rotate(45deg);
  border-left: transparent;
  border-bottom: transparent;
  transition: 0.3s;
}
section#altools div.wrap ul li:hover a >span::after{
  transform: translateX(3px) translateY(-1px) rotate(45deg);
}
/* 프로모션 */
section#promotion { 
  background-color: #6bd3fe;
  border-radius: 20px;
  height: 360px;
}
section#promotion div.wrap { 
  width: 900px;
  height: 100%;
  box-sizing: border-box;
}
section#promotion div.wrap h2 {
 
}
section#promotion div.wrap ul { 
  width: 100%;
}
section#promotion div.wrap ul li {
  width: 100%;
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
section#promotion div.wrap ul li a { 
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 30px;
}
section#promotion div.wrap ul li a h3 { 
  line-height: 1.4;
}
section#promotion div.wrap ul li a h3 strong { 
  border: 1px solid;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
}
section#promotion div.wrap ul li a h3 i {
 
}
section#promotion div.wrap ul li a p {
  line-height: 1.4;
}
/* 팁 영역 */
section#tip {
  
}
section#tip div.wrap {
  max-width: initial;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
section#tip div.wrap h2 {  
}
section#tip div.wrap ul {  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  width: 100%;
}
section#tip div.wrap ul li {
  height: 360px;
  background-color: #ccc;
  border-radius: 30px;
  transition: 0.3s;
  overflow: hidden;
}
section#tip div.wrap ul li:hover{
  transform: translateY(-15px);
}
section#tip div.wrap ul li:nth-child(1) {  
  grid-column: 1;
  grid-row: 1 /span 2;
  height: 750px;
}
section#tip div.wrap ul li a {
  height: 100%;
  box-sizing: border-box;
  padding: 40px 0 0 30px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-origin: content-box;
  padding-right: 75px;
  padding-bottom: 65px;
  position: relative;
}
section#tip div.wrap ul li a::after{
  content: "";
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 35px;
  background-image: url(../img/arrow.svg);
  background-position: center;
  transition: 0.3s;
}
section#tip div.wrap ul li a:hover::after{
  right: 20px;
}
section#tip div.wrap ul li:nth-child(1) a{
  background-color: #ff5d8c;
  padding-top: 70px;
  background-image: url(../img/tip1.png);
}
section#tip div.wrap ul li:nth-child(2) a{
  background-color: #f4f4f4;
  background-image: url(../img/tip2.png);
  background-size: 45%;
}
section#tip div.wrap ul li:nth-child(3) a{
  background-color: #32b8ff;
  background-image: url(../img/tip3.png);
  background-size: 40%;
}
section#tip div.wrap ul li:nth-child(4) a{
  background-color: #ffdb18;
  background-image: url(../img/tip4.png);
  background-size: 70%;
}
section#tip div.wrap ul li:nth-child(5) a{
  background-color: #f4f4f4;
  background-image: url(../img/tip5.png);
  background-size: 40%;
}
section#tip div.wrap ul li a h3 {
  line-height: 1.5;
  margin-bottom: 10px;
}
section#tip div.wrap ul li a p {
  line-height: 1.4;
}
/* 바로가기 */
section#go {
  margin: 0 -40px;
  height: 340px;
  background-color: wheat;
  background-image: url(../img/gobg.jpg);
  background-size: cover;
  background-position: center;
}
section#go div.wrap {
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
section#go div.wrap h2 {
  
}
section#go div.wrap ul {
  width: 1000px;
  gap: 20px;
}
section#go div.wrap ul li {
  background-color: #fff;
  width: calc(100% / 3);
  height: 140px;
  border-radius: 20px;
  transition: 0.3s;
}
section#go div.wrap ul li:hover{
  box-shadow: 1px 1px 30px #ccc;
}
section#go div.wrap ul li a {
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: 1fr auto auto 1fr;
  height: 100%;
  column-gap: 20px;
  row-gap: 10px;
}
section#go div.wrap ul li a::before{
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  grid-column: 2;
  grid-row: 2 / span 2;
  align-self: center;
}
section#go div.wrap ul li:nth-child(1) a::before{
  background-image: url(../img/go1.png);  
}
section#go div.wrap ul li:nth-child(2) a::before{
  background-image: url(../img/go2.png);  
}
section#go div.wrap ul li:nth-child(3) a::before{
  background-image: url(../img/go3.png);  
}
section#go div.wrap ul li a p {
  grid-column: 3;
  grid-row: 2;
}
section#go div.wrap ul li a span {
  grid-column: 3;
  grid-row: 3;
}
/* 하단 */
/* footer 영역 */
footer {
  position: relative;
}
footer div.wrap::before{
  content: "";
  width: 100%;
  height: 306px;
  display: block;
  background-color: #f7f8f9;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
footer div.wrap {
  max-width: 1120px;
}
footer div.wrap::before{

}
footer div.wrap h1 {
  
}
footer div.wrap ul.fnb {
  margin-bottom: 50px;
  justify-content: space-between;
  line-height: 1.5;
}
footer div.wrap ul.fnb>li {

}
footer div.wrap ul.fnb> li:nth-child(1){
  width: calc(100% / 3.5);
}
footer div.wrap ul.fnb>li h2 {
  margin-bottom: 20px;
}
footer div.wrap ul.fnb>li ul {
  flex-wrap: wrap;
}
footer div.wrap ul.fnb>li ul li {
  
}
footer div.wrap ul.fnb>li:nth-child(1) ul li{
  width: calc(100% / 2);
}
footer div.wrap ul.fnb>li ul li a {
  line-height: 2.3;
  display: inline-block;
  padding: 1px;
  color: #8b95a1;
}
footer div.wrap ul.fnb>li ul li a:hover{
  background-color: rgba(139,149,161,.1);
}
footer div.wrap ul.fnb2 {
  padding-top: 20px;
  grid-template-columns: repeat(6,auto) 1fr;
}
footer div.wrap ul.fnb2>li {
  margin-bottom: 20px;  
}
footer div.wrap ul.fnb2>li:last-child{
  justify-self: right;
}
footer div.wrap ul.fnb2>li a {
  line-height: 2;
  padding: 0 12px;
  color: #8b95a1;
  border-radius: 5px;
}
footer div.wrap ul.fnb2>li a:hover{
  background-color: rgba(139,149,161,.1);
}
footer div.wrap ul.fnb2> li:nth-child(1) a{
  padding: 0; 
}
footer div.wrap ul.fnb2> li:last-child a{
  padding: 0;
}
footer div.wrap ul.fnb2 > li:nth-child(3) a{
  color: #4e5968;
}
footer div.wrap ul.sns {
  gap: 10px;
  margin-bottom: 20px;
}
footer div.wrap ul.sns>li {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.wrap ul.sns>li a {
  font-size: 0;
  width: 64px;
  height: 18px;
  background-image: url(../img/sns1.png);
  background-size: cover;
}
footer div.wrap ul.sns>li a:hover{
  background-position-y: -100%;
}
footer div.wrap ul.sns>li:nth-child(2) a{
  margin-left: 20px;
}
footer div.wrap ul.sns>li:not(:first-child) a{
  width: 28px;
  height: 28px;
  background-image: url(../img/sns234.png);
  background-size: 300% 200%; 
}

footer div.wrap ul.sns>li:nth-child(3) a{
  background-position-x: -100%;
}
footer div.wrap ul.sns>li:nth-child(4) a{
  background-position-x: -200%;
}
footer div.wrap address {
  line-height: 1.4;
  color: #8b95a1;
}
footer div.wrap address a{
  color: #007aff;
  transition: 0.3s;
}
footer div.wrap address a:hover{
  color: #0064d9;
}