section#go{a:c;
    div{a:c;
        h2{a:c;

        }
        ul{a:c;
            li{a:c;
                a{a:c;
                    h3{a:c;

                    }
                    p{a:c;

                    }
                }
            }
        }
    }
}